/* @author Moises Solis
 * 
 * Moises G. Solis
 * Austin, TX, USA
 */
 
.simple-slideshow-message {
  font-weight: bold;
}

.form-radios {
	width: 100%;
}

#simple-slideshow-fx {
  padding-bottom: 10px;
}

#simple-slideshow-fx .form-radios .form-item {
	width: 200px;
	float: left;
}

.clear-floats {
	clear: both;
}